:root{
    /* Fonts */
     --font-family:"Inter", sans-serif;
     --font-weight-regular: 400;
     --font-weight-bold: 700;

     /* Colours */
     --color-background: #1e1e1e;
     --color-surface: #252526;
     --color-text: #d4d4d4; 
     --color-accent:#569cd6;
     --color-table-header:#2d2d2d;
     --color-border: #3e3e3e;

     /*Syntax colours*/
     --color-tag-bracket: #808080;
     --color-tag-name: #4ec9b0;
     --color-tag-attribute: #9cdcfe;
     --color-tag-value: #ce9179;
 }
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
     background-color: var(--color-background);
     color: var(--color-text);
     font-family: var(--font-family);
     font-weight: var(--font-weight-regular);
     font-optical-sizing: auto;
     font-style: normal;
    }

/*Syntax highlighting*/
.tag-bracket {
     color: var(--color-tag-bracket);
    } 
.tag-name {
     color: var(--color-tag-name);
    }
.tag-attribute {
     color: var(--color-tag-attribute);
    }
.tag-value {
     color: var(--color-tag-value);
    }
main {
     max-width: 1200px;
     margin: 0 auto;
     padding: 2rem;
}
header {
     display: flex;
     align-items: center;
     gap: 1rem;
     margin-bottom: 2rem;
}
.code-cheat-sheets-logo {
     width: 140px;
     height: 140px;
}
table, th, td {
    border: 1px solid var(--color-border);
}
th, td {
    padding: 0.75rem 1rem;
}
td:first-child {
    text-align: center;
}
td:nth-child(2) {
    text-align: center;
}
td:nth-child(3) {
    font-family: 'Courier New', monospace;
    background-color: var(--color-surface);
    border-radius: 4px;
}
footer {
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    border-top: 1px solid var(--color-border);
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
footer a {
     color: var(--color-accent);
     margin-bottom: 0 0.5rem;
     display: inline-block;
}
footer p {
    padding-bottom: 0.5rem;
}